[Desktop Entry]
Encoding=UTF-8
Name=Link to WWR - RZX technical specifications
Type=Link
URL=https://worldofspectrum.net/RZXformat.html
Icon=text-html
Name[en_AU]=Link to RZX technical specifications
